version: '3.8' 

services:
  web-app:
    build: . 
    container_name: web-app-container
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=mysqlbig
      - DB_NAME=koreanize_v2
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always 
    environment:
      MYSQL_ROOT_PASSWORD: mysqlbig
      MYSQL_DATABASE: koreanize_v2
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: